<div class="container-fluid py-3">
  <div class="row mt-5 d-flex justify-content-center">
    <!--Google Form-->
    <a class="contact-ic" href="#footer" style="color: inherit" >
        <!--USE target="_blank" inside a tag to open link in another tab -->
      <i class="fab fa-wpforms fa-lg"> </i>
    </a>
    <p class="ml-5"></p>

    <!-- Google +-->
    <a class="contact-ic" href="#footer" style="color: inherit">
      <i class="fa fa-at fa-lg"></i>
    </a>
    <p class="ml-5"></p>

    <!--Twitter -->
    <a class="contact-ic" href="#footer" style="color: inherit" >
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    <p class="ml-5"></p>

    <!--Facebook -->
    <a class="contact-ic" href="#footer" style="color: inherit" >
      <i class="fa fa-facebook fa-lg"> </i>
    </a>
    <p class="ml-5"></p>

    <!--Instagram-->
    <a class="contact-ic" href="#footer" style="color: inherit" >
      <i class="fa fa-instagram fa-lg"> </i>
    </a>
    <p class="ml-5"></p>

    <!--Youtube-->
    <a class="contact-ic" href="#footer" style="color: inherit">
      <i class="fab fa-youtube fa-lg"></i>
    </a>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6 text-center">
      Site designed & Maintained by : Jaco Mathew
    </div>
    <div class="col-12 col-md-6 text-center">
      <i class="far fa-copyright fa-lg"></i>
      2020 - Eternity
      <i class="fas fa-laugh-wink fa-lg"></i>
      : Jaco Mathew
    </div>
  </div>
</div>