<script id="item-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="col-6 col-md-3 col-lg-2">
      <div class="card cardStyling">
        <img class="card-img-top" src="http://placehold.it/100" alt="Card image cap">
        <div class="card-body ">
          <div class="cardText w-100 px-auto">
            <h1 class="font-weight-bold {{.}}{{@index}}Product">
              {{.}}
            </h1>
          </div>
        </div>

        <div class="card-footer" id="{{.}}{{@index}}">
          <button class="px-1 py-2 w-100 buttonAdd" >
            <h5 class="font-weight-bold">
              Add to Cart
            </h5>
          </button>
          <div class="row justify-content-around buttonCluster"
          style="display: none;"
          >
            <button
                class="buttonMinus"
                type="button">
                    <span>
                        <i class="fas fa-minus fa-lg"></i>
                    </span>
            </button>
            <h3 class="py-auto ">1</h3>
            <button
                class="buttonPlus" 
                type="button">
                    <span>
                        <i class="fas fa-plus fa-lg"></i>
                    </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</script>

<script src="Assets/productsJs/products.js"></script>
