      <!-- Modal -->
      <div
        class="modal fade bd-example-modal-lg"
        id="ModalBill"
        tabindex="-1"
        role="dialog"
        aria-labelledby="ModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="ModalLabel"
              >
                Bill :
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">
                  &times;
                </span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Item Table START -->
              <script id="modal-body-template" type="text/x-handlebars-template">
                <table>
                  <tr>
                    <th>Sl No.</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                  </tr>

                  {{#each this}}
                  <tr>
                    <td>{{@index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.qty}}</td>
                    <td>{{this.price}}</td>
                  </tr>
                  {{/each}}
                </table>
              </script>
                <div id="modalBody">
                    <!-- <h1>Modal Body</h1>

                    <table>
                      <tr>
                        <th>Sl No.</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                      </tr>
    
                  
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                      </tr>
                    </table> -->
                </div>
            </div>
            <div class="modal-footer">
                <button
                id="printButton"
                type="button"
                class="btn btn-secondary"
              >
                Print
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>