:root {
  --headerBGColour: #221e2e;
  --headerTxtColour: #ff0000;
  --cardBGColor: #c4b3f7;
  --modalTableHead :#c4b3f7;
  --modalRowSeperation : #efebfa;
  --headerTxtFocusColour: #ecf6fd;
  --sectionPadding: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Berkshire Swash", cursive;
}

a:hover{
  text-decoration: none;
}

#section1,
#section2,
#Products {
  min-height: 100vh;
  padding: 0px var(--sectionPadding);
}

#section1 {
  background-color: rgb(119, 247, 247);
}

#section2 {
  background-color: rgb(252, 201, 106);
}
.sectionStyle {
  height: auto;
  min-height: 100vh;
}

.content {
  font-family: "Ma Shan Zheng", cursive;
}

/* .navbarButton{
    border-color: var(--headerTxtColour) !important;
} */

.navbarIconColour {
  /* color:  var(--headerTxtColour) !important ; */
  font-size: 2rem;
}

.cardStyling {
  margin-top: 1rem;
  box-shadow: 0 8px 16px 0 var(--headerBGColour);
  width: auto;
  border-radius: 0.5rem 0.5rem;
  overflow: hidden;
}

.cardText {
  width: 70%;
  padding: 1rem 0px 0.5rem 0px;
  background-color: var(--cardBGColor);
}


/* Link of mkaing the shopping cart to the far right end of the div  */
/* https://stackoverflow.com/questions/16832334/stick-button-to-right-side-of-div */
#Products h1{
  text-align: center;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
}

.shoppingCart{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: right;
  margin:0px 2rem 0px 0px;
  cursor: pointer;
  z-index: 11;
}

.buttonAdd, 
.buttonPlus, 
.buttonMinus{
  border-radius: .5rem;
}

.buttonPlus,
.buttonMinus {
  padding: .5rem .5rem;
}

/* Table inside the Modal */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--headerBGColour);
  /* text-align: left; */
  padding: .5rem;
}

thead th,
tfoot td{
  text-align: center;
  background-color: var(--modalTableHead);
}

tbody td{
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--modalRowSeperation);
}

.receipt{
  padding: .5rem 2rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

#customer{
  cursor: pointer;
}

#customer:hover{
  color: red;
}

.faBtn {
  position: fixed;
  border-radius: 40%;
  background-color: var(--headerBGColour);
  color: var(--headerTxtColour);
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
}

@media only screen and (max-width: 745px){
  .faBtn{
    right: 0rem;
    margin-right: .5rem;
  }
}